{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="border-top pt-3 text-center">
    <form method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Log Out</legend>
        <p>Are you sure you want to log out?</p>
        <button class="btn btn-outline-danger" type="submit">Logout</button>
      </fieldset>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        <a href="{% url 'login' %}">Return to login page</a>
      </small>
    </div>
  </div>
</div>